<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".users.Make_Order"></activity>
        <activity android:name=".users.user_orders_history" />
        <activity
            android:name=".users.filter_u"
            android:theme="@style/AppTheme.popupTheme" />
        <activity android:name=".restaurant.update.Edit_Phone" />
        <activity android:name=".restaurant.Display_Menu" />
        <activity android:name=".restaurant.update.Edit_Name" />
        <activity android:name=".restaurant.update.Edit_Type" />
        <activity android:name=".restaurant.update.Edit_Kosher" />
        <activity android:name=".restaurant.update.Edit_Desc" />
        <activity android:name=".restaurant.Add_Dish" />
        <activity android:name=".restaurant.Signup_Restaurant2" />
        <activity android:name=".restaurant.Restaurant_page" />
        <activity android:name=".restaurant.HOME_restaurant" />
        <activity android:name=".restaurant.update.rest_update" />
        <activity android:name=".users.Profile_Update.Edit_password" />
        <activity android:name=".users.Profile_Update.Edit_name" />
        <activity android:name=".users.Profile_Update.Edit_address" />
        <activity android:name=".restaurant.Signup_Restaurant" />
        <activity android:name=".users.personal_settings" />
        <activity android:name=".users.Home_users" />
        <activity android:name=".signUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>